* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h3 {
    text-align:left; 
    color: purple; 
    text-decoration: underline;
    cursor: pointer;
  }
  section {
    text-align: center;
  }

  h1, section {
    padding: 4%
  }

  .start-button {
    background-color: purple;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin: 23px;
    cursor: pointer;
  }
  
.start-button:hover {
    opacity: 50%;
  }

  .time {
    padding-right: 25px;
  }

  .high-scores-button {
    padding-left: 25px;
  }

  .hide {
    display: none;
  }